body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas {
    display: flex;
    flex-wrap: wrap;
    width: 960px;

}

.pixel {
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    border-style: solid;
    border-width: 1px;
}